In [1]:
!pip install bs4
!pip install html5lib
!pip install lxml

Requirement already satisfied: bs4 in c:\users\ockis\anaconda3\envs\ibm\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\ockis\anaconda3\envs\ibm\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\ockis\anaconda3\envs\ibm\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: html5lib in c:\users\ockis\anaconda3\envs\ibm\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\ockis\anaconda3\envs\ibm\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\ockis\anaconda3\envs\ibm\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: lxml in c:\users\ockis\anaconda3\envs\ibm\lib\site-packages (5.1.0)

In [2]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [3]:
from bs4 import BeautifulSoup
import requests

In [4]:
data  = requests.get(url).text

In [6]:
soup = BeautifulSoup(data,"html5lib")

In [7]:
table = soup.find('table')

In [8]:
print(type(table))

<class 'bs4.element.Tag'>

In [26]:
with open('popular-languages.csv', "w") as file:
    for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
        cols = row.find_all('td') # in html a column is represented by the tag <td>
        c1=cols[1].getText()
        c2=cols[3].getText()
        c2=c2.replace(',','')
        c2=c2.replace('$','')
        file.write(f'{c1},{c2}\n')

In [29]:
import pandas as pd
df = pd.read_csv('popular-languages.csv')
df

     Language  Average Annual Salary
0      Python                 114383
1        Java                 101013
2           R                  92037
3  Javascript                 110981
4       Swift                 130801
5         C++                 113865
6          C#                  88726
7         PHP                  84727
8         SQL                  84793
9          Go                  94082

In [34]:
max = df['Average Annual Salary'].max()
print(df[df.loc[:, 'Average Annual Salary'] == max])

  Language  Average Annual Salary
4    Swift                 130801